.infos img {
  width: 50%;
  padding: 20px 0 25px 10px;
}

.infos p {
  font-family: Helvetica;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  padding-left: 10px;
}

.social-media {
  padding: 60px 5px 5px 125px;
}

.social-media p {
  font-family: Helvetica-Bold;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}

.social-media img {
  width: 25%;
}
