.friends {
  background-image: url(../img/img-flou.png);
  background-size: cover;
  height: 650px;
}

.friends h1 {
  font-family: Helvetica;
  font-size: 90px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: 83px;
}
